@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
}


.grid {
    display: grid;
    grid-template-columns: 15% 85%;
}
 
.sidebar {
    background-color: #0ea5e9;
    height: 100vh;
    color: black;
 }

 .logo-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 25px 40px;
 }

 .logo-text h1 {
    font-size: 25px;
    margin: 15px;
 }

 .logo-img {
    height: 40px;
    width: 40px;
 }

 .icon-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 40px;
    margin-left: 55px;
 }

.list-items-icon {
    height: 20px;
    width: 20px;
}

.list-items-2 {
    margin-top: 50px;
}

 .icon-text p {
    margin-left: 25px;
    font-size: 15px;
 }

 /*Main Page*/

 .main {
    background-color: white;
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 80%;
 }

 .header {
    background-color: white;
    display: flex;
    flex-direction: column;
 }

 .navAvatar {
    height: 60px;
    border-radius: 50%;
    border: 1px solid black;
 }

 .h4 {
    font-weight: bolder;
 }

 .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 20px;
 }

 .form-input {
    width: 500px;
    background-color: #e7e5e4;
    border-radius: 10px;
    border: #e7e5e4;
    margin-left: 20px;
    margin-right: 200px;
 }
 .content {
    background-color: #e7e5e4;
 }

