@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
}


.grid {
    display: grid;
    grid-template-columns: 15% 85%;
}
 
.sidebar {
    background-color: #0ea5e9;
    height: 100vh;
    color: black;
 }

 .logo-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 40px 40px;
 }

 .logo-text h1 {
    font-size: 25px;
 }

 .logo-img {
    height: 40px;
    width: 40px;
 }

 .icon-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 40px;
 }

.list-items-icon {
    height: 20px;
    width: 20px;
}

.list-items-2 {
    margin-top: 50px;
}

 .icon-text p {
    margin-left: 10px;
    font-size: 15px;
 }

 .main {
    background-color: white;
    height: 100vh;
 }

